@tailwind base;
@tailwind components;
@tailwind utilities;
a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
@font-face {
  font-family: "IRANYEKAN";
  font-style: normal;
  ascent-override: 99%;
  src: url("../public/assets/fonts/iran-yekan/Qs_Iranyekan.ttf");
  font-display: swap;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.css-1s2u09g-control,
.css-1pahdxg-control {
  padding: 8px;
  background-color: transparent !important;
  border-color: transparent !important;
  border-width: 0 !important;
  border-radius: 0 !important;
  box-shadow: none !important;
}
.css-1pahdxg-control:focus,
.css-1pahdxg-control:hover,
.css-1pahdxg-control:active {
  border-color: transparent !important;
  border-width: 0 !important;
  box-shadow: none !important;
}
#modal-course-select .css-1s2u09g-control,
#modal-course-select .css-1pahdxg-control {
  padding: 0px;
}
