@tailwind base;
@tailwind components;
@tailwind utilities;
a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
@font-face {
  font-family: "IRANYEKAN";
  ascent-override: 99%;
  src: url("../public/assets/fonts/iran-yekan/Qs_Iranyekan.ttf");
}

