@tailwind base;
@tailwind components;
@tailwind utilities;
a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
@font-face {
  font-family: "IRANYEKAN";
  font-style: normal;
  ascent-override: 99%;
  src: url("../public/assets/fonts/iran-yekan/Qs_Iranyekan.ttf");
  font-display: swap;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
